.tab-number {
    height: 20px;
    color: white;
    background-color: red;
    min-width: 20px;
    display: inline-block;
    line-height: 20px;
    border-radius: 10px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -11px;
    top: -11px;
    outline: 2px solid white;
    font-weight: bold;
}

.button-notifications {
  cursor: pointer;
  display: block;
  position: relative; 
}